* {
    box-sizing: border-box;
  }
  
  /*  navbar heading tabs   */
  
  .navbar-nav {
     margin-bottom:20px; 
     color: white; 
  }

  .nav-item nav-link active {
      color: tomato;
      font-size: 1rem;
      margin-top: -5em;

  }
       
  .navbar-brand order-1  {
      margin-right: 40px;
    }

.container,
nav-item {
    color: black;


}
  .container,
  h1  {
      color: black; 
      text-align: center;
      font-weight: bold;
      padding-top: 5%; 
      padding-left: 5%;
      padding-bottom: 1%;
      margin-bottom: 20px;
      margin: auto;
  
    }
    
#img-pictures  {
    margin: auto;
    
 }

 img {
    padding: 5px 5px;
 }
 


h1, 
#speakers {
    color:black;
    margin-top: 0;
    font-weight: bold;
    font-style: italic;
}


  .some-page-wrapper {
    display: flex;
    margin: 15px;
  }
  
  /*  code for registration checkbox section  */

.bs-example{
  margin: 20px; 
  font-style: italic;      
} 


.submit {
  font-weight: bold;
}

input{ 
  padding-right: 10px;
}


/*   title for classes  */
h1 {
    color:blue;
    margin-top: 5px;
    font-style: italic;
    text-align: center;
}

  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  

.container,
  row, col-md-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
   .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  } 

 #expert {
   color: teal;
   padding-left: 10px ;
 }
   

 #card-body {
  padding: 10px 10px;
  border: 5px 5px black;

 }
 
   
  
    


   


   /* Responsive layout - makes a two column-layout instead of four columns */

   @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    
  } 
  
   /* Responsive layout - makes the two columns stack on top of each other instead of next to each other  */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }


